<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Vowels_and_Consonants/src/vowels_and_Consonants/Vowels_and_Consonants.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="vowels_and_Consonants.Vowels_and_Consonants"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Vowels_and_Consonants"/>
</launchConfiguration>
